* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed
}

.topnav {
    text-align: center;
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.topnav:after {
    content: "";
    margin-left: 50px;
    margin-top: 20px;
    background-image: url(../img/portrait.jpg);
    float: left;
    display: inline-block;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.topnav ul {
    background: transparent;
    list-style: none;
    position: relative;
    display: inline-table;
}

.topnav ul li:hover>ul {
    display: block;
}

.topnav ul li {
    float: left;
    display: inline;
}

.topnav ul li:hover {
    background: transparent;
}

.topnav ul li:hover a {
    color: #0cf;
    font-style: bolder;
}

.topnav ul li a {
    display: block;
    padding: 25px 30px;
    color: #fff;
    text-decoration: none;
}

.topnav ul ul {
    background: transparent;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
    display: none;
}

.topnav ul ul li {
    float: none;
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
}

.topnav ul ul li a {
    padding: 15px 40px;
    color: #fff;
}

.topnav ul ul li a:hover {
    background: transparent;
}


/* 欢迎语 */

.index-word .welcome-word {
    position: absolute;
    list-style: none;
    float: left;
    color: #efefef;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 8em;
}